<%- include('../partials/header') -%>
<section class="top" >
<form class="form-inline mr-auto" action="/drinks" method="GET">
<div class="input-group mb-3 mx-auto col-10">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Search by</label>
  </div>
    <select name="filter" id="search-by">
      <option selected value="<%= filterOptions.byDrinkName %>">cocktail name</option>
      <option value="<%= filterOptions.byIngredientName %>">ingredient</option>
    </select>
    <input
    class="form-control col-10"
    type="search"
    placeholder="E.g. 'margarita' or 'orange juice'"
    aria-label="Search"
    name="userQuery"
  />
  <button class="form-control btn btn-outline-success col-2" type="submit">
    Search
  </button>
</div>
</form>

<form action="/drinks" method="GET">
<nav aria-label="">
  <ul class="pagination justify-content-center pagination-sm">
    <li class="page-item">
      
    <li class="page-item"><button class="page-link" name="firstLetter" value="a" type="submit">A</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="b" type="submit">B</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="c" type="submit">C</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="d" type="submit">D</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="e" type="submit">E</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="f" type="submit">F</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="g" type="submit">G</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="h" type="submit">H</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="i" type="submit">I</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="j" type="submit">J</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="k" type="submit">K</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="l" type="submit">L</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="m" type="submit">M</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="n" type="submit">N</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="o" type="submit">O</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="p" type="submit">P</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="q" type="submit">Q</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="r" type="submit">R</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="s" type="submit">S</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="t" type="submit">T</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="u" type="submit">U</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="v" type="submit">V</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="w" type="submit">W</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="x" type="submit">X</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="y" type="submit">Y</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="z" type="submit">Z</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="0" type="submit">0</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="1" type="submit">1</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="2" type="submit">2</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="3" type="submit">3</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="4" type="submit">4</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="5" type="submit">5</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="6" type="submit">6</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="7" type="submit">7</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="8" type="submit">8</button></li>
    <li class="page-item"><button class="page-link" name="firstLetter" value="9" type="submit">9</button></li>
   
  </ul>
</nav>
</form>
</section>

<section class="main" >
  
  <div class="row row-cols-1 row-cols-md-3">
    <% if (response.drinks !== null) { response.drinks.forEach((drink) => { %>
      <div class="col mb-4">
        <div class="card h-100">
          <a href="/drinks/<%= drink.idDrink %>">
          <img src="<%= drink.strDrinkThumb %>" class="card-img-top" alt="drink-thumbnail">
        </a>
          <div class="card-body">
            <h3 class="card-title drink-name"><%= drink.strDrink %></h3>
          </div>
          <a class="btn btn-sm btn-primary" href="/drinks/<%= drink.idDrink %>">See Details</a>
          </div>
        </div>
  <% });} %>
</div>
</section>

<%- include('../partials/footer') -%>
