<%- include('../partials/header') -%>
<section class="top" ></section>
  
</p>
<div class="mx-auto col-10">
  <form class="form-inline mr-auto" action="/drinks" method="GET">
    <input
      class="form-control col-10"
      type="search"
      placeholder="Search for a cocktail or ingredients seperated by commas (E.g. 'margarita' or 'vodka, orange juice' )"
      aria-label="Search"
      name="userQuery"
    />
    <button class="form-control btn btn-outline-success col-2" type="submit">
      Search
    </button>
    <select name="filter" id="">
      <option value="<%= filterOptions.byDrinkName %>">Search by cocktail's name</option>
      <option value="<%= filterOptions.byIngredientName %>">Search by ingredient's name</option>
    </select>
    
  </form>
</div>

<section class="main" >
  
  <div class="row row-cols-1 row-cols-md-3">
    <% if (response.drinks !== null) { response.drinks.forEach((drink) => { %>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="<%= drink.strDrinkThumb %>" class="card-img-top" alt="drink-thumbnail">
          <div class="card-body">
            <h3 class="card-title drink-name"><%= drink.strDrink %></h3>
          </div>
          <a class="btn btn-sm btn-primary" href="/drinks/<%= drink.idDrink %>">See Details</a>
          </div>
        
        </div>
      


<!-- 
  <div class="drink">
    <h3 class="drinkTitle" >c</h3>
    <img class="drinkThumb" src=" <%= drink.strDrinkThumb %>" alt="drink thumbnail" />
    <p class="drinkInstructions" ><%= drink.strInstructions %></p>
  </div> -->
  <% });} %>
</div>
</section>

<%- include('../partials/footer') -%>
