<%- include('../partials/header') -%>
<section class="main" >
  <h1>Edit <%= drink.name %></h1>
  <h5>Editing a drink will create an edited copy of the original cocktail. On your "favorite cocktails" page you can easily identify a custom cocktail by its golden border </h5>
  <br>
<form action="/users/drinks/<%= drink._id %>?_method=PUT" method="POST" >
  <div class="form-group">
    <label for="cocktail-name">Cocktail Name</label>
    <input type="text" class="form-control" id="cocktail-name" name="drinkName" value="<%= drink.name %>" required>
    <% if (message) { %>
    <small class="message"><%= message %></small>
    <% } %>
  </div>
<br>
  
  <label >Ingredients and Quantites</label> 
  <div class="row">
    <% drink.ingredients.forEach((ingredient, i) => { %>
      <div class="col-6">
        <input type="text" class="form-control" name="ingredientName" value="<%= ingredient.name %>">
      </div>

    <div class="col-6">
      <input type="text" class="form-control" name="qty" value="<%= ingredient.qty %>">
    </div>
    
    <% }); %>
    <div class="col-6">
      <input type="text" class="form-control" name="ingredientName" placeholder="Wanna add an other ingredient?">
    </div>
    <div class="col-6">
      <input type="text" class="form-control" name="qty" placeholder="Quantity">
    </div>
    <div class="col-6">
      <input type="text" class="form-control" name="ingredientName" placeholder="Wanna add an other ingredient?">
    </div>
    <div class="col-6">
      <input type="text" class="form-control" name="qty" placeholder="Quantity">
    </div>
  </div>
<br>

  <div class="form-group">
    <label for="appropriate-glass">Appropriate Glass</label>
    <select class="form-control" id="appropriate-glass" name="glass" >
      <option selected value="<%= drink.glass %>"><%= drink.glass %></option>
      <option value="Highball glass">Highball glass</option>
      <option value="Cocktail glass">Cocktail glass</option>
      <option value="Old-fashioned glass">Old-fashioned glass</option>
      <option value="Collins glass">Collins glass</option>
      <option value="Pousse cafe glass">Pousse cafe glass</option>
      <option value="Champagne flute">Champagne flute</option>
      <option value="Whiskey sour glass">Whiskey sour glass</option>
      <option value="Cordial glass">Cordial glass</option>
      <option value="Brandy snifter">Brandy snifter</option>
      <option value="White wine glass">White wine glass</option>
      <option value="Nick and Nora Glass">Nick and Nora glass</option>
      <option value="Hurricane glass">Hurricane glass</option>
      <option value="Coffee mug">Coffee mug</option>
      <option value="Shot glass">Shot glass</option>
      <option value="Jar">Jar</option>
      <option value="Irish coffee cup">Irish coffee cup</option>
      <option value="Punch bowl">Punch bowl</option>
      <option value="Pitcher">Pitcher</option>
      <option value="Pint glass">Pint glass</option>
      <option value="Copper Mug">Copper Mug</option>
      <option value="Wine Glass">Wine glass</option>
      <option value="Beer mug">Beer mug</option>
      <option value="Margarita/Coupette glass">Margarita/Coupette glass</option>
      <option value="Beer pilsner">Beer pilsner</option>
      <option value="Beer Glass">Beer Glass</option>
      <option value="Parfait glass">Parfait glass</option>
      <option value="Mason jar">Mason jar</option>
      <option value="Margarita glass">Margarita glass</option>
      <option value="Martini Glass">Martini glass</option>
      <option value="Balloon Glass">Balloon glass</option>
      <option value="Coupe Glass">Coupe glass</option>
      <option value="">*No glass*</option>
    </select>
  </div>
  <br>
  <div class="form-group">
    <label for="cocktail-image">Image URL</label>
    <input type="text" class="form-control" id="cocktail-image" name="image" value="<%= drink.image %>">
  </div>
  <br>
  <div class="form-group">
    <label for="drink-instructions">Instructions</label>
    <textarea class="form-control" id="drink-instructions" name="instructions" rows="5" ><%= drink.instructions %></textarea>
  </div>
  <button class="btn btn-lg btn-success" type="submit" >Update</button>
  <button class="btn btn-lg btn-danger" type="reset" >Cancel Changes</button>
</form>
</section>

<%- include('../partials/footer') -%>