<%- include('../partials/header') -%>


<section class="main" >
  
  <div class="row row-cols-1 row-cols-md-3">
    <% drinks.forEach((drink) => { %>
      <div class="col mb-4">
          <div class="card h-100">
            <img src="<%= drink.image %>" class="card-img-top" alt="drink-thumbnail">
            <div class="card-body">
              <h3 class="card-title drink-name"><%= drink.name %></h3>
            </div>
            <a class="btn btn-sm btn-primary" href="/users/drinks/<%= drink._id %>" >See Details</a>
          </div>
        </div>
        <% }); %>
</div>

</section>
<form action="/users/drinks?_method=DELETE" method="POST">
<button type="submit" >DELETE ALL</button>
</form>








<%- include('../partials/footer') -%>
